:root {
  --primary: brown;
  --content: rgb(230, 228, 228);
  --body: rgb(32, 32, 32);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: monospace;
}

body {
  background-color: var(--body);
}

/* Header Section */

.main-header {
  display: flex;
  justify-content: center;
}

.pokeball {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  background-color: var(--body)
}

.pokeball .main-dot {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: var(--body);
}

.pokeball .dot {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: whitesmoke;
}

.navbar {
  border-radius: 20px;
  margin-top: 20px;
  width: 90%;
  height: 200px;
  background-color: var(--content);
}

.navbar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85px;
  border-radius: 19px 19px 0px 0px;
  background-color: var(--primary);
}

.navbar-menu {
  height: 85px;
  border-radius: 0px 0px 20px 20px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.navbar-logo a {
  font-size: 30px;
  color: var(--body);
  transition: 0.4s;
}

.navbar-logo span {
  color: var(--body);
}

.navbar-ul ul, li::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  height: 2px;
  width: 0%;
  background-color: var(--primary);
  transition: 0.4s;
}

.navbar-ul ul, li:hover::after {
  width: 100%;
  transition: 0.4s;
}

.navbar-ul ul, li a {
  color: var(--body);
}

.navbar ul, li {
  display: flex;
  margin: 5px;
  position: relative;
  font-size: 18px;
  list-style: none;
}

a {
  color: whitesmoke;
  font-weight: bold;
}

/* Main Section */

.flip {
  transition: 1s;
  transform: rotateY(180deg);
}

.main-body {
  display: flex;
  justify-content: center;
  height: auto;
}

.content {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  min-height: 100vh;
  margin-top: 20px;
  border-radius: 20px;
  background-color: var(--content);
}

.cards {
  width: 200px;
  height: 300px;
  margin: 5px;
  transition: 1s;
  transform-style: preserve-3d;
}

.front-cards, .back-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  height:100%;
  width: 100%;
  border-radius: 10px;
  position: absolute;
  transform-style: preserve-3d;
  background-color: rgb(37, 37, 37);
}

.front-cards {
  transform: translateZ(0px);
}

.back-cards{
  transform: rotateY(180deg);
}

.front-cards, .back-cards .header {
  text-align: center;
  color: whitesmoke;
}

/* Footer Section */

.main-footer {
  text-align: center;
  margin-top: 15px;
  font-size: 15px;
  height: 30px;
}

.main-footer p {
  color: whitesmoke;
}

.main-footer span {
  color: var(--primary);
}